[2016-08-10 19:10] danielbachhuber opened #2 "Add tests for $this->lcache->synchronize()"
We should make sure synchronization works as expected.

[2016-08-10 19:11] danielbachhuber opened #3 "Run test suite against L2 cache"
We should run the test suite against just the L2 cache, to ensure it behaves in the same way as the L1 cache.

[2016-08-11 17:07] danielbachhuber opened #4 "Run integration tests against Pantheon"
Just like we have for the other Pantheon plugins, we should integration tests against Pantheon.
- [x] Set up Circle CI (Steve Persch will make Pantheon test user/site, Terminus Token, SSH keys, etc)
- [x] Run plugin specific tests
- [x] Run upstream tests (See https://github.com/pantheon-systems/solr-power/pull/107/files for an example)

[2016-08-12 18:38] stevector opened #5 "Code sniffing as a CI test"
In Circle or Travis.

[2016-08-15 19:44] danielbachhuber opened #6 "Add support for LCache tags"
We can expose them in WordPress as cache groups. It should work similarly to how WP Redis has enabled cache groups.

[2016-08-15 21:50] stevector commented on #4
I've started on the CircleCI set up. CircleCI is watching, Terminus tokens are set up, as are SSH keys.

[2016-08-15 21:51] stevector commented on #5
Already in Travis

[2016-08-15 21:51] #5 closed

[2016-08-16 13:25] stevector commented on #4
A branch is started here: https://github.com/pantheon-systems/wp-lcache/pull/7

[2016-08-18 22:41] danielbachhuber opened #9 "Explicitly mark class vars public and private"
Follow up from #8

[2016-08-22 15:05] #4 closed

[2016-08-22 18:58] danielbachhuber opened #12 "Destroy the cache after a test run"
We should make sure the tables are truncated, and APCu is emptied, just to be safe.

[2016-08-23 18:38] szepeviktor opened #16 "Refer upstream"
Could you refer upstream and add this to the readme?

It took me **minutes** to figure out what "L" cache is.

[2016-08-23 19:51] danielbachhuber commented on #16
Yep, we'll add more documentation when it's available. The upstream actually hasn't been published as a public project yet.

[2016-08-24 19:50] danielbachhuber opened #17 "wp_cache_delete_group() should return false when cache group doesn't exist"
When LCache is available, `wp_cache_delete_group()` currently always returns true, even when the group doesn't exist. It would be more correct for this function to return false when the group doesn't exist. However, this would require an API improvement to the LCache library.

From #15

[2016-08-24 19:55] danielbachhuber opened #18 "Use LCache as a Composer library"
LCache has currently been committed directly to `lib`. Instead, we should use Composer to incorporate the library.

[2016-08-24 21:17] danielbachhuber opened #19 "Prefix LCache tables based on WordPress' table prefix"
We might want to make sure the tables are added with a prefix, to ensure two WordPress installs can share the same database.

[2016-08-24 21:45] #6 closed

[2016-08-25 15:38] danielbachhuber opened #20 "Readme"
Working list of tasks to complete:

* [ ] Mention plugin activation (for db table creation) before symlinking.
* [ ] Mention required PHP version 5.6

[2016-08-25 16:00] #16 closed

[2016-08-25 17:03] danielbachhuber opened #23 "Warn the user when PHP 5.5 or greater isn't detected"
Because LCache requires PHP 5.5 or greater, we should warn the end user when they aren't running the minimum required PHP version.

[2016-08-29 15:34] stevector opened #25 "Move repo to lcache org"
@danielbachhuber any objection to me moving this repo now?

[2016-08-29 15:39] danielbachhuber commented on #25
Not at all!

[2016-08-29 22:08] stevector commented on #18
I'm trying this conversion.

[2016-08-30 18:54] danielbachhuber commented on #25
🚢  Looks like we're in good shape!

[2016-08-30 18:54] #25 closed

[2016-08-30 18:57] danielbachhuber opened #28 "Clean up expired items in the L2 cache"
This will need to be done on WP Cron.

From https://github.com/lcache/lcache/issues/11

[2016-08-31 17:01] danielbachhuber opened #30 "Set minimum PHP version to 5.6"
See https://github.com/lcache/lcache/pull/14

[2016-09-02 18:02] danielbachhuber commented on #23
Closing in favor of #30

[2016-09-02 18:02] #23 closed

[2016-09-02 20:58] danielbachhuber opened #34 "Clean up expired L2 values"
Garbage collection: we need it.

Related https://github.com/lcache/lcache/issues/11

[2016-09-02 20:59] danielbachhuber commented on #34
Ugh, dupe of #28

[2016-09-02 20:59] #34 closed

[2016-09-06 16:33] #18 closed

[2016-09-06 18:16] stevector opened #41 "Automate pushing from GitHub to wordpress.org SVN repo"
This work can follow https://github.com/pantheon-systems/solr-power/issues/15

[2016-09-06 23:02] danielbachhuber commented on #41
@stevector Thoughts on how we can [overcome this issue](https://github.com/pantheon-systems/solr-power/issues/15#issuecomment-153437237)?

[2016-09-07 13:09] danielbachhuber commented on #3
Actually, this isn't necessary. L2 cache can be trusted to have a consistent interface and behavior.

[2016-09-07 13:09] #3 closed

[2016-09-07 17:29] #30 closed

[2016-09-07 17:32] #9 closed

[2016-09-07 17:53] #19 closed

[2016-09-07 19:16] #12 closed

[2016-09-07 19:33] #2 closed

[2016-09-07 21:05] stevector commented on #28
@danielbachhuber, this issue can be closed, yes?

[2016-09-07 21:25] danielbachhuber commented on #28
Nope, still need to implement.

[2016-09-08 00:22] #28 closed

[2016-09-08 00:25] danielbachhuber commented on #20
🚢

[2016-09-08 00:25] #20 closed

[2016-09-08 18:01] danielbachhuber opened #50 "Display admin notice when plugin is active but object-cache.php isn't in place"
When the plugin is active but object-cache.php isn't in place, we should alert the end user.

[2016-09-08 18:06] danielbachhuber opened #51 "Link to installation documentation from admin notices"
When we're displaying an admin notice to the end user, we should link to the installation documentation on the WordPress.org repo to ensure they know where to find an answer: https://wordpress.org/plugins/wp-lcache/installation/

[2016-09-08 18:08] danielbachhuber opened #52 "Include an APCu status page in the WordPress admin"
When the plugin is active, we should include an APCu status page in the WordPress admin so the end user easily knows whether the plugin is working or not.

From https://wordpress.org/support/topic/how-install-how-i-know-its-working/

[2016-09-08 18:09] danielbachhuber commented on #52
@joshkoenig @davidstrauss @stevector Suggestions on what APCu stats we might want to include on this page?

[2016-09-08 21:05] joshkoenig commented on #52
I don't know what all stats are at hand, but I think:
- Some kind of high-level "it's working" indicator:
  - Green: all systems go, hitrate is over 50%(?)
  - Yellow: functioning system, hitrate below 50%
  - Red: something is not working (e.g. no APCu, no L2 table, anything else that would make the system inoperative)
- L1 stored data (vs APCu available)
- L1 object count
- L1 hitrate
- L2 store

[2016-09-13 13:24] danielbachhuber opened #55 "Add art to WordPress.org repo"
We look a bit bleak:

![image](https://cloud.githubusercontent.com/assets/36432/18475293/ba3d72b4-797a-11e6-92f3-8313078d2e2e.png)

WP Redis is quite nice:

![image](https://cloud.githubusercontent.com/assets/36432/18475274/ab80a3b8-797a-11e6-9ce1-d916d241b813.png)

[2016-09-13 13:24] danielbachhuber commented on #55
@joshkoenig Can you line this up?

[2016-09-13 16:21] joshkoenig commented on #55
Yes, though we will want to take a minute to brand this properly across all
channels. Bleak is ok for where we are right now. ;)

[2016-09-14 20:54] joshkoenig opened #61 "Gracefully Handle object-cache.php w/o DB tables, etc"
If you deploy this plugin to a new environment, it will come inclusive of the `object-cache.php` symlink, but it will not be enabled in that new environment. This can cause a flood of errors about the LCache DB table not existing. We should handle this gracefully with a nice admin message.

Kind of the inverse of https://github.com/lcache/wp-lcache/issues/50

[2016-09-14 20:57] joshkoenig opened #62 "Stuck Re-Doing WP Core Update Database Changes"
Report from the field that a user was locked out of wp-admin when performing the core update. It would say "you need to update your db", which would succeed, but then the users were bounced to the homepage. Returning to `wp-admin` bounced them to the same warning about needing to run the database updates.

The eventual solution was to flush apc via `apc.php`.

We should see if this is replicable.

[2016-09-14 20:58] danielbachhuber commented on #61
What's a good way of knowing whether or not the database table exists, without running a SQL query for it?

[2016-09-14 21:01] joshkoenig opened #63 "WP-CLI cache flush not clearing APC?"
Related to #62 - user reported doing `cache flush` as part of their debugging process and not having success until they directly dumped APCu cache from `apc.php`.

We should validate that we are correctly dumping all caches on the `cache_flush` or `reset_cache` action.

[2016-09-14 21:30] danielbachhuber commented on #62
It looks like `wp_upgrade()` has a couple calls to `wp_cache_flush()`:

![image](https://cloud.githubusercontent.com/assets/36432/18530739/ccb41ff2-7a87-11e6-9ebe-7e15adc66e6d.png)

[2016-09-14 21:42] #63 closed

[2016-09-14 23:37] danielbachhuber opened #68 "Add tests for database schema issues"
* [x] Set STRICT_ALL_TABLES #67
* [x] Use LONGBLOB column type for lcache_event values #66

[2016-09-15 16:42] joshkoenig commented on #62
Yep we should re-test this now that cache flushing is fixed. :tada:

[2016-09-15 17:50] joshkoenig commented on #61
We could test for whether the plugin is enabled?

[2016-09-20 13:51] #50 closed

[2016-09-20 14:07] #51 closed

[2016-09-21 12:52] danielbachhuber opened #74 "Use latest version of Terminus"
Currently blocked by pantheon-systems/terminus#1219

Previously #73

[2016-09-21 17:44] #61 closed

[2016-09-29 20:11] #62 closed

[2016-09-29 20:33] joshkoenig commented on #52
Ok, for a first pass (pending a design) here's what I'd like to see:

### LCache Status

| Message | Condition |
| --- | --- |
| All systems go | APCu hitrate > 50% |
| Cache hitrate low | APCu hitrate < 50% |
| Installation incomplete | Installation requirements not met |

### L1 Statistics

| Statistic | Explanation |
| --- | --- |
| L1 Hitrate | A hitrate of 80% is considered best practice |
|

[2016-10-10 15:54] danielbachhuber opened #90 "Unpin APCu version for PHP 7"
From #89

[2016-10-18 14:03] #68 closed

[2016-10-26 22:30] #90 closed

[2016-11-03 21:31] soderlind commented on #41
I'm using grunt, works evrytime, here's one of my [Gruntfile.js](https://github.com/soderlind/acf-field-date-time-picker/blob/master/Gruntfile.js) files

[2016-11-17 21:21] abumalick opened #103 "Missing APCU extension enabled with extension enabled ..."
Hello, I get a Missing APCU extension enabled and I have the extension enabled.
[code]
I am on shared hosting and I can active apcu extension in cpanel. I tried with php5.6 and php 7.0 . I get the same warning message.
Note : I have access to server with ssh, I can use php cli and composer but no root. I use [wordpress under bedrock from roots](https://github.com/roots/bedrock)

Any idea ?
# Here

[2016-11-17 21:35] abumalick commented on #103
I have this path in my object-cache.php due to different structure of bedrock:

[code]

But I get the same error when I change the path or remove this file.

[2016-11-17 22:11] danielbachhuber commented on #103
@abumalick You need to `apc.enable_cli='on'` too

[2016-11-17 22:11] #103 closed

[2016-11-17 22:36] abumalick commented on #103
Can you tell me how I should activate this ? I see no option for this in cpanel and I don't have access to php.ini .
Can I activate it in htaccess ?

[2016-11-17 22:45] abumalick commented on #103
tried this in htaccess but it don' t work
`php_flag apc.anable_cli On`

[2016-11-17 22:46] abumalick commented on #103
Tried to put this in htaccess but it don' t work
php_flag apc.enable_cli On

[2016-11-17 22:47] danielbachhuber commented on #103
It'll need to be set in your php.ini.

Run `wp --info` to see then path to your php.ini for CLI.

`.htaccess` is only executed for a web request.

[2016-11-21 21:27] wpbullet opened #104 "trying to get property of non-object"
Seeing this with wp_debug set to on

```Notice: Trying to get property of non-object in /var/www/woocommerce/wp-content/plugins/wp-lcache/vendor/lcache/lcache/src/APCuL1.php on line 43```

[2016-11-21 21:29] danielbachhuber commented on #104
@wpbullet Is this on a Pantheon site?

This could actually be related to https://github.com/pantheon-systems/wp-native-php-sessions/issues/49

[2016-11-21 21:55] wpbullet commented on #104
This is self-hosted on a Digital Ocean droplet running php7 and nginx.

[2016-11-21 23:41] danielbachhuber commented on #104
Interesting! Any chance we could get a `debug_backtrace()` out of the error so we could see where it's coming from?

[2016-11-21 23:45] wpbullet commented on #104
If I knew how to do that then yes :) If you have a walkthrough I'd be happy to oblige. I can also share the admin or root credentials via email if you prefer. I'm a wp profile user so I have your email already.

[2016-11-21 23:49] danielbachhuber commented on #104
Could you ping me on the WordPress.org Slack? Might be easiest to chat through this first.

[2016-11-22 08:26] wpbullet commented on #104
Pinged you there

[2016-11-22 13:10] danielbachhuber commented on #104
This was a bad value in APCu. The fix was to restart PHP-FPM

[2016-11-22 13:10] #104 closed

[2016-11-25 15:53] abumalick commented on #103
Thank you very much for your help,
I asked my provider and they gave me an option in cpanel to activate it.
Now it seems to work, but I have another issue, I will create another thread

[2016-11-25 16:16] abumalick opened #106 "First view takes 1 second more whn plugin is activated"
Hello,
I just managed to install the plugin and tested the speed to see if it works.
I desactive cloudflare and run the tests on www.webpagetest.org .
When the plugin is not active the first bite takes 0.220s
When the plugin is enabled, the first bite takes 0.799s
I don't know why ..

Please note that I use [bedrock wordpress boilerplate](https://roots.io/bedrock/) and it has different directory s

[2016-11-28 14:57] danielbachhuber commented on #106
Sorry to hear you're having trouble with the plugin. Based on these details, it's not clear to me what the issue might be unfortunately.

Here are some questions to help dig deeper:

1. Did you run the Web Page Test immediately after enabling WP LCache, or did you visit some pages on the website beforehand?
2. Have you run subsequent tests on Web Page Test? If so, was the time to first byte consis

[2016-12-06 22:38] abumalick commented on #106
Sorry for late reply, I am busy at the moment.

I runned the test directly

I tried 2 or 3 times and it was about the same time.

Database on localhost, The provider is o2switch, they offer shared hosting with ssh/composer/git/... We have a cpanel. It uses apache + php7 + maria db.

    package-list

[2016-12-06 23:51] danielbachhuber commented on #106
Ok. You've got a lot of extra code running there.

Does the issue reproduce in the same environment, but with a stock WordPress install (e.g. no additional plugins active, and using a default theme)?

[2016-12-07 06:23] abumalick commented on #106
I will eventually try this

On Dec 7, 2016 01:51, "Daniel Bachhuber" <notifications@github.com> wrote:

[2016-12-08 13:22] lkraav opened #108 "One subsite suddenly errors `Error establishing a database connection` with `object-cache.php`, no indication why"
Renaming `object-cache.php` resolves the issue.

Nothing is visible in error logs or `mysql.err`. How would you recommend I debug this?

I've had one issue with `wp-lcache` before, where had to fine tune `innodb_data_file_path = ibdata1:10M:autoextend:max:512M` where max:128M had to be increased to max:512M. Not sure if related.

Other subsites load fine.

EDIT restarting php-fpm resolved the dead

[2016-12-08 14:07] danielbachhuber commented on #108
Ah. WP LCache does use the database, so a crashed table may cause it to fail.

Glad you figured it out! If it becomes a repeat problem, let us know and we can look into how we can make it more fail safe.

[2016-12-08 14:07] #108 closed

[2016-12-08 14:26] lkraav commented on #108
But it wasn't a crashed table. All tables were fine. I simply restarted `php-fpm` which I believe clears `apcu`.

But of course, to pollute the data collection here... I may have emptied `wp_lcache_*` tables BEFORE the restart to see if that helps. It didn't. Then I restarted `php-fpm`. Which means that we can't really tell right now who got their state towards corruption, since `wp-lcache` didn't

[2016-12-08 18:49] lkraav commented on #108
Something is still going wrong here. WP-CLI crashes immediately regardless of restarts etc. `mysqlcheck` passes with flying colors for the whole database. As soon as `object-cache.php` is renamed, everything works.

Here's mysql query log of where we crash. There's a bunch of similar SELECTs on top, so I'm cutting the list to bottom five, and then there's that suspicious `DELETE`:

[code]

EDIT ac

[2016-12-08 19:13] lkraav commented on #108
Solution may be `wp core update-db --network` here.

I was on beta releases for a while. `strace` actually points in the right direction by revealing `open wp-includes/version.php` syscall, but it took a while to decipher.

[code]

It looks like everything sprang back to life. Exact underlying cause is still unknown to me, but maybe some database revision number was synced up somewhere using `wp c

[2016-12-09 13:29] danielbachhuber commented on #108
Interesting.

Can you configure and test against a stock WordPress install on this machine? I'm curious as to whether there's a confluence of factors from other code, or whether this is an isolated issue with WP LCache.

Just to confirm, this issue is present across all sites on your network, right?

[2016-12-09 13:29] #106 closed

[2016-12-28 19:25] stevector opened #109 "Switch CI scripts to Terminus 1"
I'm switching some repos to use Terminus 1 to serve as examples for the forthcoming launch of Terminus 1.

[2016-12-30 12:49] epeli opened #111 "WP_Object_Cache->get_alloptions is too expensive"
#We just tried out wp-lcache with our production sites and we noticed that it makes page loads 20-30% slower than without any object cache. Xdebug cachegrind profiles show that the time is spend in `WP_Object_Cache->get_alloptions()`.

![screen shot 2016-12-30 at 14 43 42](https://cloud.githubusercontent.com/assets/225712/21565269/6836b010-ce9e-11e6-84fb-43eaa955565d.png)

To test out I basically

[2016-12-30 13:44] danielbachhuber commented on #111
Wasn't aware. We'd certainly love to learn more about your alternative implementation. Before you commit time to a PR, could you describe the changes in a summary?

[2016-12-30 16:35] esamattis commented on #111
It will be fairly similar what I did with wp-redis here https://github.com/pantheon-systems/wp-redis/pull/157

It's not perfect but I think it will perform better than the current implementation.

[2016-12-30 20:59] danielbachhuber commented on #111
Hm, I'm not sure I agree with that approach. Want to propose it on the core ticket first to get feedback from a wider audience?

[2017-01-02 08:06] esamattis commented on #111
Could you elaborate bit more on why not?

You mean as a Wordpress ticket?

[2017-01-02 11:08] esamattis commented on #111
One clear flaw in the wp-redis one is that the alloptions cache will be cleared for every option set, not just the ones within it but that can be mitigated by checking it from the internal cache I think.

[2017-01-02 17:47] esamattis commented on #111
Here's a proof of concept

https://github.com/epeli/wp-lcache/commit/ac6f92f5270d31859db54b62eef515cbc89fc092

The issue is indeed in the WordPress core and this implementation does a really hacky workaroud to avoid the race condition (kinda, more on that later)  without destroying performance. It records the option updates, completely ignores the alloptions object updated by WordPress core and ma

[2017-01-03 12:08] esamattis commented on #111
Sorry about the noise but I found another interesting approach.

Because the autoload/alloptions is basically just a way to preload and cache some options in WP core I just realised it's pretty useless with wp-lcache because wp-lcache already does very good local caching with the internal cache array. So if we just disable the alloptions functionality from WP core all autoloaded options will be se

[2017-01-04 00:58] danielbachhuber commented on #111
@epeli There's a lot to digest here.

At a high level, I think what you're discovering is that WordPress' alloptions implementation is less than ideal. Each approach comes with a different set of tradeoffs, which makes identifying the "best" approach more difficult.

For instance, I don't think returning a "custom Object implementing the ArrayAccess interface" is a good solution because changing t

[2017-01-04 11:00] esamattis commented on #111
But currently there is no point of using wp-lcache at all because (at least in our testing) WP is always 20-30% slower with it than without any cache plugin. So I have to strongly disagree with this assessment.

Ideal solution would be of course to make core to help on this more but since this discussion  https://core.trac.wordpress.org/ticket/31245 started two years ago I have a feeling that it's

[2017-01-04 12:53] danielbachhuber commented on #111
That's fine. You're free to disagree. LCache is open source, so you're free to maintain your own fork too if you'd like.

At this point, I think the best course is to continue the discussion about performance on the Trac ticket. It's better to make the right decision, than a rushed decision.

[2017-01-16 02:26] #109 closed

[2017-02-14 01:21] danielbachhuber opened #114 "Fatal error: Uncaught PDOException: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column ‘address’ at row 1"
[code]

Problem: `address` column is too short for the data being inserted.

From https://wordpress.org/support/topic/error-with-formidable-forms/

[2017-02-14 01:28] davidstrauss commented on #114
We had a similar issue with Drupal. I didn't want to impost semantics on key shortening within LCache (necessarily), so we shortened it in the Drupal implementation using the same method as Drupal's own DB-backed caches.

[2017-02-14 15:21] stevector commented on #114
Here's the PR for the Drupal 8 module: https://github.com/lcache/drupal-8/pull/17/files

[2017-03-20 17:20] danielbachhuber opened #117 "Unpin Travis from PHP 7.0.15 and PHP 7.1.0"
Pinned in #116

PHP 7.0.17 and PHP 7.1.2 both cause inexplicable build failures: https://travis-ci.org/lcache/wp-lcache/builds/213057669

In 7.0.15, Composer's autoloader works and the LCache library is available. In 7.0.17, the LCache library is no longer available. I'm not sure at what point in the stack the LCache class isn't being loaded anymore though.

Might be related to: https://github.com

[2017-03-20 17:23] #111 closed

[2017-04-25 22:43] danielbachhuber opened #119 "Fix Circle auth check for Terminus"
The following no longer works because Terminus now returns `0` for logged out too:

[code]

@greg-1-anderson @stevector Suggestions on what we might be able to use instead?

From https://github.com/lcache/wp-lcache/pull/115#issuecomment-297185829

[2017-04-25 23:56] frankiejarrett commented on #114
@danielbachhuber I can take a stab at this one unless you already have something in the works?

[2017-04-26 02:08] danielbachhuber commented on #114
@fjarrett Go ahead!

[2017-04-28 16:33] fjarrett opened #123 "Remove unused database table?"
In all my testing, the `lcache_tags` database appears to be unused.

Should it be removed from the project?

[2017-04-28 18:22] danielbachhuber commented on #123
It's not used by WP LCache, but it's technically a feature available in the LCache library.

I'm on the fence about this.

On one hand, I don't like the idea of creating a bunch of unused database tables in people's WP installs.

On the other hand, I don't like the WP LCache breaking unexpectedly because of the missing database table.

Thoughts?

[2017-05-01 22:45] frankiejarrett commented on #123
@danielbachhuber I'd think there could just be a `wp_lcache_version` option which we check after an update and run migrations when tables/schema changes occur in a particular version.

[2017-05-01 23:32] danielbachhuber commented on #123
@fjarrett I've pinged inside Pantheon to see if there are broader opinions about this.

What's your timeline for needing a decision? Are you planning a broader rollout?

[2017-05-01 23:45] frankiejarrett commented on #123
@danielbachhuber No timeframe for this one, just looking to trim some fat. From a broader point of view, yes I am investigating whether a broad rollout of WP Lcache would be feasible in it's current state, and helping out on issues I think are relevant to that being a success.

[2017-05-02 03:27] frankiejarrett commented on #123
@danielbachhuber From what I can tell, the `object-cache.php` drop-in does not provide the `$tags` param in any of the places it's calling the `set()` method. Additionally, I did a quick scan of the LCache library and everywhere `$tags` could be called, it defaults to an empty array.

IMO it seems safe to remove the table until such a time the drop-in decides to start using tags.

I took a stab at

[2017-05-02 15:52] danielbachhuber commented on #123
Correct.

Here's what @davidstrauss said, which makes sense to me:

So, I think the LCache library should explicitly support this first, then we can conditionally create the table.

[2017-05-03 18:06] fjarrett opened #126 "Should CLI mode be required on production?"
It seems that CLI mode is [not recommended on production](https://secure.php.net/manual/en/apc.configuration.php#ini.apc.enable-cli), and it's also disabled by default.

#### `apc.enable_cli`

Yet enabling it is the only way to rid the WP LCache warning (#103):

[code]

[2017-05-03 21:04] #114 closed

[2017-05-03 21:10] #126 closed

[2017-05-03 21:24] #119 closed

[2017-05-10 18:51] greg-1-anderson opened #132 "Potential problem with mysql PDO constructor in php7"
There was a [problem reported on a php 7 site using this module](https://getpantheon.atlassian.net/browse/BUGS-1259?focusedCommentId=47131&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-47131) related to the [port specification for the PDO constructor](https://github.com/lcache/wp-lcache/blob/3ad270ce18cbb235e7c8125d3fa8ec5b4c5215bc/object-cache.php#L1190).

The [M

[2017-05-10 19:08] danielbachhuber commented on #132
Meaning, the syntax changed?

[2017-05-10 19:25] greg-1-anderson commented on #132
In the `mysqli_connect` API function, in PHP 7, the port can no longer be specified as part of the host string (first parameter); it must be provided in the `port` parameter. So, the syntax for this function did not change, but the behavior did change insofar as the interpretation of the parameters is now stricter than it was before.

I suspect the same thing happened with the Mysql PDO constructo

[2017-05-10 19:26] greg-1-anderson commented on #132
See also: https://getpantheon.atlassian.net/browse/BUGS-1266

[2017-05-10 20:00] danielbachhuber commented on #132
@greg-1-anderson What do you think is the severity of this issue? Fix in the next 24 hours or fix in the next week?

cc @fjarrett

[2017-05-10 20:10] frankiejarrett commented on #132
@danielbachhuber I can't open any of the related bug reports links cited above, but it looks like the DSN we pass to the PDO constructor is formatted just fine.

https://github.com/lcache/wp-lcache/blob/3ad270ce18cbb235e7c8125d3fa8ec5b4c5215bc/object-cache.php#L1082

[2017-05-10 20:38] greg-1-anderson commented on #132
[code]

Encountered on PHP 7.0.18. Behavior may have recently changed in this release. Not sure about severity. cc: @davidstrauss

[2017-05-10 22:41] danielbachhuber commented on #132
@greg-1-anderson "this release", meaning PHP 7.0.18?

Related https://github.com/lcache/wp-lcache/issues/117

[2017-05-10 22:58] greg-1-anderson commented on #132
Yes, or perhaps in 7.0.17. Unconfirmed.

[2017-05-14 08:49] kevinlisota opened #133 "Support for igbinary"
I'm experimenting with LCache on our high traffic site. This is either a question or a feature request.

Are there any performance gains when using igbinary as the APCu serializer? It is easy to install and enable igbinary in place of the PHP serializer. However, when I did so, it brought the database server to its knees with 100% CPU usage.

In theory, igbinary should improve performance and lowe

[2017-05-16 21:39] #117 closed

[2017-05-23 17:00] joshkoenig commented on #132
This same bug is popping up in other contexts as well. @danielbachhuber can you help us understand what's going on here? If we need to fix our code we should, or should we improve/fix some documentation?

[2017-05-23 18:25] danielbachhuber commented on #132
Yes, I'll look.

[2017-05-24 13:36] danielbachhuber commented on #132
@greg-1-anderson I tried reproducing the issue this morning and wasn't able to. Can you provide some guidance on how to reproduce?

Here's what I did:

* Created a new environment: http://dev-wp-lcache-test-may-2017.pantheonsite.io/
* Committed a `pantheon.yml` file to set `php_version: 7.0`
* Verified PHP version 7.0.18: http://dev-wp-lcache-test-may-2017.pantheonsite.io/phpinfo.php
* Installed W

[2017-05-24 14:07] frankiejarrett commented on #132
@danielbachhuber FWIW I tried PHP 7.0.19 and also was unable to reproduce.

[2017-05-24 14:12] greg-1-anderson commented on #132
I never reproduced this problem myself -- I was passing along the report. The issue I linked to was a different problem, the mysql_connect issue in `btool drush` that has already been fixed. I can't find an issue for the PDO constructor. As I mentioned above, the documentation does not mention anything changing in this method. @joshkoenig do you have any information on the other contexts where thi

[2017-06-01 06:02] frankiejarrett commented on #133
@kevinlisota What versions of PHP, APCu, and igbinary are you running?

I'm using `igbinary` as the serializer for APCu without issue (so far) in all my local test environments - with basically zero traffic though.

While I haven't seen any blatant increase in CPU cycles myself I will definitely keep a closer eye on this now that you've mentioned it - especially during load testing.

[2017-06-04 19:15] wkhayrattee commented on #132
Hi everyone. What's the status with this issue. Has it been reproduced? I believe if it has occurred once, we should be understanding the how to prevent any future surprises. thanks

[2017-06-04 19:21] greg-1-anderson commented on #132
At this point, I believe that the problem with the PDO constructor was a false report / misunderstanding. If you need more information about the mysql_connect issue, please let me know, and I can fill you in. However, I do not believe that problem ever affected this component.

[2017-06-04 19:46] wkhayrattee commented on #132
Hi @greg-1-anderson thanks for the reply, appreciate.
Yes, please if you could give me more info on the mysql_connect issue, would be great for my own dev team if we encounter something similar. My email is: w@7php.com
Cheers

[2017-06-04 20:36] greg-1-anderson commented on #132
The known issue relates to [mysqli::_construct](http://php.net/manual/en/mysqli.construct.php) and [mysqli_connect](http://php.net/manual/en/function.mysqli-connect.php). These are the newer versions of [mysql_connect](http://php.net/manual/en/function.mysql-connect.php).

In newer versions of php 7, the optional *port* parameter of these new functions must be used if a non-standard port is desire

[2017-06-04 21:08] frankiejarrett commented on #132
Proper support for splitting the port/hostname from `DB_NAME` was done in #115.

[2017-06-05 01:30] greg-1-anderson commented on #132
OK, great; maybe the original report was from a version prior to that fix, then. Seems like everything is okay here now.

[2017-07-05 09:52] vincent-lu opened #137 "Site become unresponsive after activate the plugin"
Hi first of all thanks for open source this plugin.

I could use some help with troubleshooting activating this plugin on our WooCommerce site (nginx, php7.0, mysql 5.7, everything on AWS).

I've installed `wp-lcache` according to the installation guide (e.g. installed `apcu`, created `object-cache.php` file, activated the plugin). From what I can see the plugin is definitely running (no error mes

[2017-07-06 21:02] danielbachhuber opened #138 "APCu cache fragmentation can cause PHP processes to lock up"
This issue is long overdue but...

From https://wordpress.org/support/topic/heavy-iops-and-database-use/

[2017-07-06 21:10] danielbachhuber commented on #137
Hey @vincent-lu,

Thanks for the detailed report. Can you review #138 (which I just posted)? The symptoms sound similar to what you've described.

Out of curiosity, have you tried [WP Redis](https://github.com/pantheon-systems/wp-redis)? The only known issue I'm aware of is [this one](https://github.com/pantheon-systems/wp-redis#how-do-i-disable-the-persistent-object-cache-for-a-bad-actor), so it

[2017-07-07 04:27] vincent-lu commented on #137
Hi @danielbachhuber thanks for getting back to me.

I will test out the script in the next few days. But it describes "php processes lock up" which is different from what I observed (where php itself is fine but it's mysql connection went crazy). Regardless, I will give it a go and see if:
- the script can reproduce the lock-up described on our staging environment
- the php lock-up it mentioned sh

[2017-07-07 06:09] wkhayrattee commented on #138
The idea behind this cache is very nice and APCu is faster. Would be great if this issue can be resolved.
Thanks @danielbachhuber for opening a ticket and your efforts to get this moving.

cheers

[2017-07-07 12:58] danielbachhuber commented on #138
Just to clarify, the issue is in APCu, not LCache. It appears to be an architectural flaw with APCu that would be very challenging to remedy. As such, Pantheon has explored alternatives, but none of the exploration has born fruit yet.

[2017-07-07 13:05] danielbachhuber commented on #137
Makes sense. Database usage is another potential performance vector because WP LCache does write to the database. If your WordPress instance isn't very cache performant, meaning there is a high percentage of cache writes happening, then you'll see that manifest in database utilization.

It does, see https://github.com/pantheon-systems/wp-redis/pull/157#issuecomment-266444418

The workaround from W

[2017-07-08 01:03] vincent-lu commented on #137
@danielbachhuber when you say "as long as your code is optimized for the purpose", do you mean the php code shouldn't use too many object caches? It'd be really hard to manage this side as just with a single plugin activated (WooCommerce), viewing 200 orders on backend results in 30000+ object caches (88.3% hit rate (27,422 hits, 3,628 misses), according to Query Monitor).

[2017-07-10 13:36] danielbachhuber commented on #137
The PHP code can use as many object caches as it can, as long as there's a sufficient hit rate.

If the miss rate is quite high (which it seems like yours is), then it defeats the purpose of the object cache, as the object cache isn't being used much. Furthermore, with LCache, the issue is compounded because cache writes to the L2 incur database writes.

[2017-07-11 04:57] vincent-lu commented on #137
The hit rate I saw after I enabled lcache is very high (95%+) consistently. It's really the database problem that's the show stopper and there doesn't seem to be a solution. My guess is the L2 caching system is using too much db resources (37k row in about 5min on `wp_lcache_events ` table does sounds like a lot).

Also for #138 , I tried to run it on our production during offpeak hours, and the s

[2017-07-12 18:44] danielbachhuber commented on #137
It's high, but it may not be high enough. Given your total number of cache entries, it seems like the 5% is sufficient to cause ongoing database load issues.

Interesting. Thanks for trying it out.

Yes. The `wp_lcache_events` records represent all data in the object cache. As soon as LCache is responsible for the object cache, it will begin to populate the L2 cache.

Not at this point, no.

There

[2017-07-13 08:16] vincent-lu commented on #137
It makes perfect sense though, considering that script is just using apcu and not doing database queries anyway.

Yeah I think some form of throttling might help with the problem I ran into; if one day you guys get around to do it.

Yeah sure. Just let me know in what way you think I can contribute.

Now I've activated https://github.com/pantheon-systems/wp-redis (along with the alloptions fix) on

[2017-07-13 08:16] #137 closed

[2017-08-07 22:49] fjarrett opened #139 "Add integration for Query Monitor"
I think it would be swell to see your LCache hits/misses/calls from inside Query Monitor:

<img width="214" alt="screenshot 2017-08-07 17 47 53" src="https://user-images.githubusercontent.com/522158/29048878-906eb882-7b98-11e7-9deb-ee94072a4a0c.png">

https://github.com/johnbillion/query-monitor

[2017-08-21 20:38] danielbachhuber opened #142 "CREATE TABLE query fails on Pantheon"
The query produces:

[code]

Including `ROW_FORMAT=DYNAMIC` in the query fixes the issue. We need to figure out whether this is safe to introduce in all queries, or whether it should be conditionally appended to the query.

[2017-08-21 22:52] #142 closed

[2017-09-21 16:08] ahmed-sigmalux opened #146 "Use Redis for L2 cache"
Great idea on using a high speed APCu L1 cache with a shared L2 cache, but I think your choice of MySQL for L2 IS suboptimal. Of all the datastores in our server stack, MySQL is by far the slowest and has the highest latency.

Wouldn't it make more sense to use Redis, Memcache, or the like for the L2 cache? You'd get all the benefits of a shared L2 cache but at a much lower latency and a higher sp

[2017-09-21 23:50] danielbachhuber commented on #146
Thanks for the feedback @ahmed-sigmalux !

If I recall correctly (but I'm not 100% sure), there were some features of MySQL that Redis doesn't implement directly.

Under the hood, WP LCache uses the LCache library. Feel free to open a new issue about using Redis as a L2: https://github.com/lcache/lcache/issues There are also a number of pull requests, issues, etc. with good history on the design d

[2017-09-21 23:50] #146 closed

[2017-09-26 18:29] danielbachhuber opened #147 "Incorrect $table_prefix usage on multisite"
On multisite, we need a table_prefix specific to the target site. The `$table_prefix` global is incorrect.

From https://github.com/lcache/lcache/issues/85

[2017-09-28 12:09] danielbachhuber commented on #147
Not sure what I was thinking here... the `lcache_events` table is global to the WordPress install.

[2017-09-28 12:09] #147 closed

[2017-09-28 17:21] danielbachhuber opened #148 "Database table creation can fail with error "Specified key was too long; max key length is 1000 bytes""
[code]

From https://wordpress.org/support/topic/lcache-database-tables-not-created/

[2017-09-28 20:01] danielbachhuber commented on #148
`SHOW VARIABLES` on the offending server: https://gist.github.com/ramontolkamp/8e1d5b2402217222f519312da5d640ae

[2017-09-29 21:16] danielbachhuber commented on #148
@fjarrett Do you recall why you changed `address` to `varchar(191)` on the `tags` table but not the `events` table (#131)?

[2017-09-29 21:28] danielbachhuber commented on #148
Based on [this](https://stackoverflow.com/a/40110286/6800777) and [this](https://stackoverflow.com/a/8747703/6800777), my understanding is that the error happens because Barracuda is not enabled for MySQL, which means our index key length is too long for stock InnoDB.

If it's a problem we want to solve, we could work around this by setting prefix lengths to each column. Alternatively, we can show

[2017-09-29 21:29] frankiejarrett commented on #148
@danielbachhuber I think `address` was left as `varchar(255)` because it isn't an indexed column in the `events` table, but on the `tags` table it's the `PRIMARY KEY`. In my testing of that feature I was only seeing the error on indexed columns.

[2017-09-29 21:35] danielbachhuber commented on #148
We could also change `events.address` to `varchar(171)` (accommodating `bigint(20)` for `event_id`), but I wonder if that's too short.

[2017-09-29 21:56] danielbachhuber commented on #148
Looking into this even further, I think we can revert the utf8mb4 charset on creation because our `value` column is `LONGBLOB`, which is binary and doesn't use charsets.

[2017-09-30 02:12] ramontolkamp commented on #55
@danielbachhuber Not sure what you have in mind for the artwork ...
As a thank you for your help I created a banner for your LCAche plugin. Hope you'll enjoy, but do with it what you like.

![wp_lcache-banner-772x250](https://user-images.githubusercontent.com/32372369/31041436-983525de-a595-11e7-885a-a9983415da7c.jpg)
![wp_lcache-banner-1544x500](https://user-images.githubusercontent.com/32372369/

[2017-10-03 21:25] danielbachhuber opened #151 "Revert "Allow failures for PHP 7.0""
Once PHP 7.0 decides to stop segfaulting, we should revert dd59326

[2017-10-03 21:32] danielbachhuber commented on #148
🔨

[2017-10-03 21:32] #148 closed

[2017-10-12 14:17] f4bsch opened #153 "Slow"
On my site I benchmarked some object caches (median of ~500 continuous requests):

![image](https://user-images.githubusercontent.com/2705942/31500330-6a145946-af67-11e7-948e-2490713c5337.png)
As you can see wp-lcache actually slows down.

And I benchmarked wp-lcache interface (single request):

![image](https://user-images.githubusercontent.com/2705942/31500301-58514318-af67-11e7-9e22-7065773f94f

[2017-10-12 14:38] danielbachhuber commented on #153
Thanks for opening the issue, @f4bsch.

Some follow up questions:

1. Is this benchmarked against a stock WordPress install, or one with lots of themes/plugins active?
2. Is your benchmarking with APCu primed? WP LCache is a two-tier cache: the first request will always hit the database (which is almost certainly slower than connecting to Redis on the same machine), and then the second request wil

[2017-10-13 05:34] fl4p commented on #153
@danielbachhuber ,
1) Its a WP 4.8.2 with 10 plugins, 1 Theme. No chubby plugins like WooCommerce
2) It should be, it were 500 requests. On the server I measured the time PHP runs to generate a single response (`$_SERVER['REQUEST_TIME_FLOAT']` until `microtime(true)` at PHP shutdown). I then computed  the median from 500 requests.

[2017-10-13 13:46] danielbachhuber commented on #153
@f4bsch Interesting.

I don't think your benchmarks are quite correct, but it's hard to say what the actual problem is without being able to explore at depth. It seems like something may be misconfigured.

[2017-10-13 13:46] #153 closed

[2017-10-14 10:04] fl4p commented on #153
@danielbachhuber What makes you think my benchmarks are not correct?
If you think there is a misconfiguration, why did you close this issue?

[2017-10-15 13:57] danielbachhuber commented on #153
In an optimal configuration, WP LCache should perform (and has been tested to perform) much better than indicated.

The scope of our FOSS support is limited to bugs with documented reproduction steps.

[2017-10-17 10:04] fl4p commented on #153
Where are these benchmarks?

Well here are the steps to reproduce:
1. Setup a VPS (it has to be a capped virtual CPU) with nginx, PHP 7, APCu, MariaDB
2. Install WordPress and wp-lcache
3. Use e.g. http://www.bytecheck.com/ to make 5 measurements with/without wp-lcache and take the median

[2017-11-09 13:00] #132 closed

[2018-06-27 16:09] jchristi commented on #138
Per David Strauss's comments here: https://github.com/lcache/lcache/issues/87#issuecomment-377361978 . The TL;DR is basically that the above mentioned "explored alternatives" performed about the same as a local memcache over unix socket, however there is no memcache L1 interface written yet for LCache and it doesn't sound like anyone is working on writing that.

[2019-04-29 13:47] 7php opened #158 "[INQUIRY] - Status of this project as of 2019?"
Hey there @danielbachhuber , @joshkoenig and Pantheon team.

1) As of now, Apr 2019, what's the status with this plugin?
2) Is Pantheon still using it on its infrastructure, if not what are you using now?

Asking, because some issues here dating 2017 has not been resolved yet and the last real code change "commit" probably was 2yrs ago.

This plugin, as I once mentioned, seemed very promising. But

[2019-04-29 14:27] danielbachhuber commented on #158
Hi @7php,

Thanks for the issue.

It's available for use with one significant known issue #138

No, LCache isn't in wide deployment. WP Redis is the recommended persistent object cache: https://github.com/pantheon-systems/wp-redis

Do you have any recommendations on how this could be communicated?

I read here that it uses Varnish with Wp-Lcache - want to confirm if this is still the same?

I'm no

[2019-04-29 21:15] wkhayrattee commented on #158
Hi @danielbachhuber
thank you for the awesome reply.

I think an updated message on the plugin repo itself - on the [readme of the github repo](https://github.com/lcache/wp-lcache) + on [the WP plugin page](https://wordpress.org/plugins/wp-lcache/), where you can advise users that due to that issue, the recommended approach is to use the WP Redis.

I appreciate and love all that you and the Panthe

[2019-04-30 15:47] danielbachhuber commented on #158
Thanks for the suggestion, @7php

@davidstrauss Are you amenable to this?

[2019-04-30 16:19] davidstrauss commented on #158
@danielbachhuber I think that's a good recommendation at this juncture.

[2019-04-30 23:48] #158 closed

[2019-05-01 18:47] wkhayrattee commented on #158
cheers @danielbachhuber
(thank you @davidstrauss )

[2019-10-22 23:15] unknys commented on #138
Wt3 Total Cache is the only plugin as i know off which **APCu** is working PERFECT on! And what an amazing and insane feature it is! My site speed level alone without any other plugin with **APCu** went up 67% Ofcourse it ALL depends on how much Memory Cache you make available to it. It makes the respond time with databases quicker, handling http specially with http2 on a whole new level!

[2019-11-11 06:08] hamancuong commented on #108
hi @danielbachhuber,
i have the same error as @Ikraav,
when i active wp-lcache plugin, and created object-cache.php file, after that it'll error: "Error: One or more database tables are unavailable. The database may need to be repaired",
i try restart php-fpm, it is ok, but after some time it will fail again
i try "wp core update-db", but nothing change, so can you help me about this ?

[2021-08-10 02:01] erikdemarco commented on #111
@esamattis Just curious and out of topic. What profiler you used to make stats on all your screenshots?